# Dependencies & caches
node_modules/
.npm/
.expo/
web-build/
dist/

# Environment & secrets
.env*
!.env.example

# Android / native build outputs
android/build/
android/app/build/
android/local.properties
build-artifacts/
*.apk
*.aab
android/app/release/
android/app/build/outputs/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log
yarn-error.log
